/.spyproject
/accum.py
/alieninvasion.py
/allfiles.py
/anil.py
/anil2.py
/argentina.py
/array.py
/assignment(c).py
/assignment.py
/assignment.txt
/authentication.py
/average word length.py
/binary search.py
/center_align.py
/Count number of files with individual extensions.py
/count_digits.py
/cp.py
/cp2.py
/data.txt
/dd.txt
/default-workspace.code-workspace
/Deja Vu.py
/dice.py
/duplicate_encoder.py
/emojis.py
/encmorse.txt.txt
/extcount.py
/facebook leak.txt
/Fb work.py
/fblikes.py
/file.txt
/findpythagoriantriplets.py
/Format strings.py
/functest.py
/functionexercises.py
/functionexercises2.py
/functionexercises3.py
/functionexercises4.py
/functions.py
/geek4geekCp.py
/genhashtag.py
/genhsh.py
/grep.py
/hovercraft.py
/inheritance III.py
/InventWithPython_resources
/invertdict.py
/isprime.py
/Learning
/letsandvalues.txt
/letsandvalues2.txt
/link finder.py
/LIST OF FONTS.txt
/make-slug.py
/makinggames
/makinggames_src
/maximum value in a list.py
/morse.txt
/morse_code - Copy.py
/my_animals.csv
/No numerals.py
/num.py
/paint costs.py
/patricia.py
/PDF'S
/persistence.py
/phone.py
/Projects
/PyProgrammersEx.py
/PythonExercise15.py
/remove duplicates.py
/search engine.py
/split_strings.py
/spy.py
/spy2.py
/statistics.py
/swap.py
/taskmate.code-workspace
/test.py
/Thats odd.py
/trans.py
/triplets.py
/trythisout.py
/unique in order.py
/unique.py
/using turtle.py
/validate.py
/vowelsremoved.py
/weird case.py
/zipfile module II.py
/zipfile module.py
/__pycache__